@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 3rem;
  font-family: 'Gloria Hallelujah', cursive;
  background-color: #eee;
}

.app-container {
  text-align: center;
}

.header-main {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
}

.icon-dog {
  height: 8rem;
}

.header-secondary {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.image-main {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  margin: 5rem;
  text-align: center;
  max-height: 50rem;
  border-radius: .5rem;
}

select {
  color: white;
  font-size: 2rem;
  font-family: 'Gloria Hallelujah', cursive;
  background-color: #909090;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.button {
  color: white;
  margin: 2rem;
  padding: 1rem;
  font-size: 2rem;
  font-family: 'Gloria Hallelujah', cursive;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: #909090;
  border-radius: 2.5rem;
  text-transform: uppercase;
}

.options-header {
  font-size: 2.5rem;
  text-transform: uppercase;
}
